<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://sirokurokumasan.github.io/program/mono/images/favicon.ico"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<header>
  <h1><a href class="headline">ナプーのブログ</a></h1>
      {% include navigation.html %}
</header>
<div class="container">
  <main class="main">
    <h2>{{ page.title }}</h2>
    {{ content }}
  </main>
<div class="sub">
    <img src="https://sirokurokumasan.github.io/program/mono/images/myicon.png" width="380" height="380">
    <p>ナプーです。</p>
    <p>クリエーターになりたい。</p>
    <p>息抜きにでものぞきに来てください。</p>
    <p><a href="https://scratch.mit.edu/users/sirokurokumasan/" class="btn">scratchのアカウント</a></p>
    <p><a href="https://github.com/sirokurokumasan" class="btn">GitHubのアカウント</a></p>
  </div>
</div>

<footer>
  <p>© sirokurokumasan 2020</p>
</footer>
</body>

</html>
