<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K83GLBBENK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-K83GLBBENK');
  </script>
  <link rel="shortcut icon" href="https://sirokurokumasan.github.io/program/mono/images/favicon.ico"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <main class="main-container">
  <header class="main-header">
    <h1><a href="/">ナプー・ラボ</a></h1>
    <p style="text-align: center;">～多趣味かつ数学好きかつ自称クリエーターが運営するブログ～</p>
    {% include navigation.html %}
  </header>
</main>
<div class="container">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <div class="sub">
    <h3>プロフィール:</h3>
    <p>ナプーです！</p>
    <p>sirokurokumasanのオリキャラです。</p>
    <p>プログラミング好きです！</p>
    <p>少しずつ記事を書くのでたまにのぞきに来てください。</p>
    <p><a href="https://scratch.mit.edu/users/sirokurokumasan/" class="btn">scratchのアカウント</a></p>
    <p><a href="https://github.com/sirokurokumasan" class="btn">GitHubのアカウント</a></p>
  </div>
</div>

<footer>
  <p>© sirokurokumasan 2020</p>
  <p>このブログの著作権はsirokurokumasanにあります。</p>
</footer>
</body>

</html>
