<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K83GLBBENK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-K83GLBBENK');
  </script>
  <link rel="shortcut icon" href="https://sirokurokumasan.github.io/program/mono/images/favicon.ico"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <main class="main-container">
    <p style="text-align: center;">～多趣味で数学好きの自称クリエーターが運営するブログ～</p>
    <header class="main-header">
      <h6><a href="/">ナプー・ラボ</a></h6>
      {% include navigation.html %}
    </header>
  <div class="container">
    <div class="article">
      <h2>{{ page.title }}</h2>
      {{ content }}
    <div>
  </main>
  <div class="sub">
    <h4>プロフィール</h4>
    <p>ナプーです！</p>
    <p>sirokurokumasanのオリキャラです。</p>
    <p>プログラミング好きです！</p>
    <p>少しずつ記事を書くのでたまにのぞきに来てください。</p>
    <p>コンタクトはこちらからどうぞ↓</p>
    <p><a href="https://scratch.mit.edu/users/sirokurokumasan/" class="btn">scratchのアカウント</a></p>
    <p><a href="https://github.com/sirokurokumasan" class="btn">GitHubのアカウント</a></p>
  </div>
  <footer>
    <p>© sirokurokumasan 2020</p>
  </footer>
</body>

</html>
